node:
  - ws://localhost:8090

node_bts:
  - wss://eu.nodes.bitshares.ws
  - wss://api.bitshares.org
  - wss://api.dex.trading
  - wss://dex.iobanker.com:9090
  - wss://api.bts.ai
  - wss://api.bitshares.bhuz.info/ws
  - wss://api.btsgo.net/ws
