[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[dev-packages]



[packages]

requests = "*"
golos = {git = "https://github.com/bitfag/golos-python.git"}
pyaml = "*"

[requires]
python_version = "3.6"
