node: 
  - ws://localhost:8091
witness: foo
keys:
  # your private active key here, used to sign transactions
  - wif_private_key

# public key of your witness; private part should be used in golosd config.ini as `private-key`
witness_pubkey: your_witness_pub_key
url: https://golos.io/@foo
props:
  account_creation_fee: "1.000 GOLOS"
  maximum_block_size: 65536
  sbd_interest_rate: 1000
